h1{
    color: red;
    text-decoration: underline;
    margin: 0 auto;
}

#createTitle, #deleteTitle{
    text-align: center;
}

#titleDiv {
    background-color: #c9c9c9;
    width: 100%;
    padding: 0%;
    white-space: nowrap;
}

img{
    vertical-align: middle;
}

#form, form{
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: white;
}

label{
    color: black;
    font-size: larger;
   font-weight: bold;
}

input{
    margin-left: 40px;
}

#subject{
    margin-left: 105px;
}

#courseComponent{
    margin-left: 15px;
    width: 164.8;
    height: 22;
}

table, #coursesTables {
    width: 100%;
    margin-bottom: 20px;
    border: 2px solid #000000;
    background-color: transparent;
    border-collapse: collapse;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

th {
    background-color: #d9d9d9;
    border: 2px solid #474747;
    font-size: 13px;
    vertical-align: bottom;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border: 1px solid black;
}

td, #tableData {
    background-color: #dbdbdb;
    padding: 8px;
    line-height: 20px;
    text-align: center;
    vertical-align: top;
    border: 1px solid black;
    border-top: 1px solid #dddddd;
}

#mainScheduleDiv{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;              
    justify-content: space-between;
    margin-bottom: 20px;
}

#createSchedulesDiv, #editScheduleDiv{
    float: left;
    width: max-content;
    padding: 20px;
    border: 1.5px solid black;
    background-color: #23BB70;
}

#dynamicInputs{
    width:max-content;
    display: flex;
    flex-direction: column;
    padding: 10px;
    
}

#deleteSchedulesDiv{
    float: right;
    width: max-content;
    padding: 20px;
    border: 1.5px solid black;
    background-color: #0FC6EC;
    height: 218px;
    margin-top: 0;
}

#schedulesDiv{
    border-radius: 25px;
    border: 2px solid black;
    background-color: #9868F0;
    align-items: center;
    justify-content: center;
    margin:auto;
    width: max-content;
}

#status{
    padding-left: 20px;
    padding-right: 20px;
}

#divTitle{
    text-decoration: underline;
    color: #000000;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

#addScheduleButton{
    margin-left: 220px;
}

#deleteScheduleButton{
    margin-left: 300px;
}

#deleteAll{
    background-color: red;
    font-size: larger;
    font-weight: bolder;
    margin-left: 150px;
}

#deleteScheduleName{
    width:150px;
}

#subject_schedule{
    margin-left: 105px;
}

#courseNumber_schedule{
    margin-left: 35px;
}

#numberOfCourses{
    margin-left: 66px;
}